
.body{
  font-family: 'Nunito Sans', sans-serif;
}
.btn-brand {
  background: #00308F !important;
  color: #ffffff !important;
  border: 2px solid linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) !important;
}
.btn-outline-brand{
  color: #ffffff !important;
  border: 2px solid #00308F !important;
}
.btn-brand:hover {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) !important;
  /* border: 1px solid p#00308F !important; */
  color: white !important;
}
.btn-brand:active{
  background-color:#00308F !important;
  box-shadow: 5px black solid;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
.bg-brand{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) !important;
  color: aliceblue;
}
.brand{
  color: #00308F!important;
}
.naira{
  text-decoration: double line-through;
}
.footer{
  background:  #00308F!important;
  color: aliceblue;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}
.footer-link{
  color: aliceblue;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  
}
.footer-link:hover{
  text-decoration: underline;
  color: aliceblue;
  
}


.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
      
    opacity: 0;
    color: #a91616;
  }
}
.brand-logo-effect{
  opacity: 0.7;
  filter: grayscale(100%);
}
.brand-logo-effect:hover,.brand-logo-effect:focus{
  opacity: 1;
  filter:none;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}