.btn-brand {
  background: violet !important;
  color: #ffffff !important;
  border: 2px solid violet !important;
}
.btn-outline-brand{
  color: #ffffff !important;
  border: 2px solid violet !important;
}
.btn-brand:hover {
  background: radial-gradient(circle, rgba(2, 0, 36, 0.017) 0%, rgba(9, 9, 121, 0) 35%, rgba(0, 213, 255, 0) 100%) !important;
  border: 1px solid purple !important;
  color: purple !important;
}
.btn-brand:active{
  background-color: aqua !important;
  box-shadow: 5px black solid;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
.bg-brand{
  background-color: violet !important;
}
.brand{
  color: violet !important;
}